<div class="row">
<div class="col-md-4 offset-4 text-center">
    <div class="card">
        <div class="card-body">
            <div class="text-center" style="height: 50px;">
                <img src="assets/img/terriermon.gif">
            </div>
            <h5 class="card-title">Terriermon</h5>
            
            <a class="nav-link" routerLink="/npc" class="btn btn-primary btn-sm"><i class="fa fa-plus-square"
                    aria-hidden="true"></i> Encontrar Adversário</a>
        </div>
    </div>
</div>
</div>